.root {
  position: relative;
  box-sizing: border-box;
  padding: 16px;
  background: var(--background);
  border: 1px solid var(--accents-2);
  border-radius: 5px;
  box-shadow: var(--shadow-smallest);
}

.root a {
  text-decoration: none;
}

.header {
  display: flex;
  margin-bottom: 8px;
}

.creator {
  display: inline-flex;
}

.meta {
  margin-left: 8px;
  flex: 1;
}

.meta:hover .name,
.meta:focus .name {
  text-decoration: underline;
}

.name {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--foreground);
  margin: 0;
  line-height: 20px;
}

.username {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--secondary);
  margin: 0;
  line-height: 20px;
}

.title {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 !important;
  color: var(--foreground);
  font-size: 2rem;
}

.wrap {
  margin-top: 16px;
  color: var(--foreground);
}

.content {
  color: var(--accents-6);
  font-size: 0.875rem;
}

.timestamp {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin: 0;
  color: var(--accents-5);
}

.action {
  position: absolute;
  right: 3px;
  top: 3px;
}

.closeBtn {
  color: var(--foreground);
}

.editBtn {
  color: var(--foreground);
}

.publicBtn {}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
}

.img {
  object-fit: contain;
  border-radius: 8px;
}