.root {
  :global {
    .ql-hidden {
      display: none !important;
    }

    .ql-editor {
      padding: 0;

      &>* {
        color: var(--foreground);
      }

      .ql-video {
        width: 100%;
        min-height: 300px;
        height: 60vh;
      }

      img {
        max-width: 100%;
      }
    }
  }
}